version: '3.8'

services:
  splunk:
    image: splunk/splunk:9.3.0
    container_name: splunk-enterprise
    platform: linux/amd64
    environment:
      - SPLUNK_START_ARGS=--accept-license
      - SPLUNK_GENERAL_TERMS=--accept-sgt-current-at-splunk-com
      - SPLUNK_PASSWORD=Password!
      - SPLUNK_HEC_TOKEN=token12345
      - SPLUNK_ENABLE_KVSTORE=false
    ports:
      - "8000:8000"   # Web UI
      - "8088:8088"   # HEC
      - "19997:9997"   # Receiving port for forwarders
    volumes:
      - splunk-etc:/opt/splunk/etc
      - splunk-var:/opt/splunk/var
    networks:
      - splunk-network

  heavy-forwarder:
    image: splunk/splunk:9.3.0
    container_name: splunk-heavy-forwarder
    platform: linux/amd64
    environment:
      - SPLUNK_START_ARGS=--accept-license
      - SPLUNK_GENERAL_TERMS=--accept-sgt-current-at-splunk-com
      - SPLUNK_PASSWORD=Password!
      - SPLUNK_ROLE=splunk_heavy_forwarder
      - SPLUNK_ADD=tcp 9997
      - SPLUNK_ENABLE_KVSTORE=false
    ports:
      - "8001:8000"   # Web UI
      - "29997:9997"   # Can receive from other forwarders
    volumes:
      - hf-etc:/opt/splunk/etc
      - hf-var:/opt/splunk/var
    depends_on:
      - splunk
    networks:
      - splunk-network

  timeplus:
    image: timeplus/timeplus-enterprise:3.0.3-rc.27
    platform: linux/amd64
    ports:
      - 8002:8000
      - 8463:8463
      - 8123:8123
      - 3218:3218
    environment:
      - ENABLE_DATA_PREALLOCATE=false
    volumes:
      - timeplus_data:/var/lib/timeplusd/
    networks:
      - splunk-network

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: minio
    ports:
      - "9000:9000"   # S3 API
      - "9001:9001"   # Console UI
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio-data:/data
    command: server --console-address ":9001" /data
    networks:
      - splunk-network

volumes:
  splunk-etc:
  splunk-var:
  hf-etc:
  hf-var:
  timeplus_data:
  minio-data:

networks:
  splunk-network:
    driver: bridge